body {
  margin-top: 3em;
}

.alert {
  border: 1px solid #ccc;
  padding: 6px;
}

.alert-info {
  background-color: #d9edf7;
}

.alert-success {
  background-color: #dff0d8;
}

.alert-warning {
  background-color: #fcf8e3;
}
