<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <div class="container">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if current_user %} 
            <li><a href="/profile/show">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    {% for message in flash_messages %}
    <div class="alert alert-{{ message.type }}">
        {{ message.body }}
    </div>
    {% endfor %}

    {% block body %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

    {% block footer %}
    {% endblock %}
    </div>
</body>
</html>
